@{
    Layout = "_BlogLayout";
}
<script src="~/lib/jscookie.js"></script>
<script src="~/js/blog/blog.js"></script>
<title>探索日志</title>
<div>
    <ul id="blogArea">
        <li v-for="blog in bloglist">
            <a :href="`/blog/content/${blog.id}`">{{blog.title}}</a>
        </li>
    </ul>
</div>
<div id="pageBar"></div>