@{
    Layout = "_BlogLayout";
}
<script src="~/lib/jscookie.js"></script>
<script src="~/js/blog/blog.js"></script>
<p id="blogNum" hidden>@ViewBag.BlogNum</p>
<p id="pageNum" hidden>@ViewBag.PageNum</p>
<title>探索日志</title>
<div id="blogList">
	@Html.Raw(ViewBag.blogList)
</div>
<div id="pageBar"></div>