@{
    Layout = "_BlogLayout";
}
<link rel="stylesheet" href="~/css/blog/blog.css" />
<script src="~/lib/jscookie.js"></script>
<script src="~/js/blog/blog.js"></script>
<title>探索日志</title>
<div>
    <ul id="blogArea">
        <li v-for="blog in bloglist">
            <div class="blog-link">
                <a :href="`/blog/content/${blog.id}`">{{blog.title}}</a>
            </div>
        </li>
    </ul>
</div>
<div id="pageBar"></div>