@{
    Layout = "_HomeLayout";
}
<div>
    当前在数据：<div id="message"></div>
    <div id="output"></div>
    <input class="form-control" type="text" id="sendtxt" value="测试" />
    <input type="button" onclick="start()" value="开始" />
    <input type="button" onclick="send()" value="发送" />
    <input type="button" onclick="closecon()" value="结束" />
</div>
