<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/layui/css/layui.css">
    <link rel="stylesheet" href="~/css/blog/blogCommon.css">
    <!--<script src="~/lib/vue.js"></script>-->
    <script src="~/lib/jquery.js"></script>
    <script src="~/lib/layui/layui.js"></script>
    <script src="~/lib/websocket.js"></script>
    <script src="~/js/blog/base.js"></script>
    <script>
        layui.use('element', function(){
            var element = layui.element;
            element.on('nav(demo)', function(elem){
                layer.msg(elem.text());
            });
        });
    </script>
</head>
<body>
    <ul class="layui-nav" lay-filter="" id="layui-nav">
        <li class="layui-nav-item" id="menu-myblog"><a href="/blog/index/">我的博客<span class="layui-badge layui-bg-gray" id="notice" hidden>0</span></a></li>
        <li class="layui-nav-item" id="menu-writeblog"><a href="/blog/writeblog/">写博客</a></li>
        <li class="layui-nav-item" id="menu-hotblog"><a href="/blog/hot/">推荐博文</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">博客管理</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="/blog/manage/">博文管理(未开放)</a></dd>
            <dd><a href="/blog/tagSearch/">分类查阅(未开放)</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item" id="menu-findblog"><a href="/blog/others/">他人博客</a></li>
    </ul>
    <div id="mainarea">
        @RenderBody()
    </div>
</body>
</html>
