<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/layui/css/layui.css" />
    <link rel="stylesheet" href="~/css/quiz/home.css" />
    <script src="~/lib/jquery.js"></script>
    <script src="~/lib/vue.js"></script>
    <script src="~/lib/layui/layui.js"></script>
    <script src="~/lib/jscookie.js"></script>
</head>
<body>
    <div id="logined-menu" class="layui-header menu">
        <ul class="layui-nav func-menu" lay-filter="">
            <li class="layui-nav-item login-menu"><a href="" id="create">Create a quiz</a></li>
            <li class="layui-nav-item login-menu"><a href="" id="quiz-manage">Quiz list</a></li>
            <li class="layui-nav-item login-menu"><a href="" id="answer-manage">View answers</a></li>
        </ul>
        <div id="userdata">
            <p>Welcome back, {{ username }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/home/logout" id="logout">Sign out</a></p>
        </div>
    </div>
    @RenderBody()
</body>
</html>
